extends base

block content
    .dartboard
        .dartboard-content
            img.dartboard-img(src='/images/dartboard/dartboard.png')
        .d-flex.flex-column 
            button.btn.btn-warning.dartboard-clear-btn.m-5.mb-2
                h4 Clear Dartboard
            ol.dartboard-list.ms-5 
