/* various colors */
:root {
  --color-grey-light-1: #eae9e9;
  --color-grey-light-2: #bab9b9;
  --color-grey-light-3: #9a9796;
  --color-grey-light-4: #7a7979;

  --color-grey-dark-1: #242629;
  --color-grey-dark-2: #646669;
  --color-grey-dark-3: #848689;

  --color-dark-1: #04070f;
  --color-dark-2: #0f2140;
  --color-dark-3: #213962;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.8);
  --shadow-light: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  
  --color-primary: #61c5d9;
  --color-primary-light: #e1f551;
  --color-primary-light-2: #61c5d940;
  --color-primary-dark: #1185a9;
  --color-primary-dark-2: #a92311;

  --color-primary-text: var(--color-dark-3);
}

body {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
}

/*container for bootstrap alert messages - make height 0 as per interfernce with other elements*/
.messages {
  height: 0;
  width: 100%;   
  position: fixed;
  left: 0;
  bottom: 3.5rem;
}

/* error page */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.error__box {
  width: 90%;
  height: 80%;
  padding: 1rem;
  border: solid 2px var(--bs-danger); /* using bootstrap css variable*/
}
.error__title {
  padding: 1rem;
}
.error__msg {
  font-size: 1.5rem;
  padding: 1rem;
}

/* supplement bootstrap flex grow */
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-3 {
  flex-grow: 3;
}
.flex-grow-4 {
  flex-grow: 4;
}
.flex-grow-5 {
  flex-grow: 5;
}

/*dartboard styling*/
.dartboard {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* margin-top: 10rem; */
  background-color: var(--color-primary);
  color: var(--color-primary-dark);
  /* min-height: 80vh; */
}

.dartboard-content {
  position: relative;
  width: 100vh;
  height: 100vh;
  border: 2px solid black;
  transition: all 1s;
}

.dartboard-img {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  color: var(--color-primary-dark);
}

.mark {
  background-color: transparent;
  background-image: url('/images/dartboard/dart1.png');
  position: absolute;
  width: 5rem;
  height: 5rem;
  transform: translate(0, -100%);
  /* border: 1px solid blue; */
}  

.mark::before {
  content: url('./../images/dartboard/bullseye.svg');
  width: 5rem;
  height: 5rem;
  border: 1px solid blue;
  color: red;
  position: absolute;
  top: 0px;
  left: 0px;
  /* bottom: 12px;
  left:-4px; */
}  

.dartboard-list {
  width: 20vw;
  height: 60vh;
  border: 2px solid black;
  background: white;
  overflow-y: scroll;
  list-style: inside decimal;
  padding: .5rem;
}

.dartboard-list-item {
  color: black;
  font-size: 2rem;
}